[submodule "themes/kael"]
	path = themes/kael
	url = https://github.com/yuche/hexo-theme-kael.git
[submodule ".deploy"]
	path = .deploy
	url = git@github.com:lindeer/lindeer.github.io.git
[submodule "themes/ascent"]
	path = themes/ascent
	url = https://github.com/cjquines/hexo-theme-ascent.git
